<div>
  <div class="mt-3 mb-3" style="text-align: center; color: slategray;">
    <h3>Analisi con grafico a torta dato un lasso di tempo</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <p-calendar
          [(ngModel)]="date1"
          selectionMode="range"
          inputId="range"
          dateFormat="yy-mm-dd"
          placeholder="Seleziona una data"
        ></p-calendar>
      </div>
      <div class="col-1">
        <button pButton pRipple type="button" icon="pi pi-search" (click)="elabora()" class="p-button-primary p-button-outlined"></button>
      </div>
      <div class="col-2">
        <button pButton pRipple type="button" icon="fa fa-eye-slash" (click)="nonMostrare()" class="p-button-primary p-button-outlined"></button>
      </div>
    </div>
    <div class="row mt-3" *ngIf="primoForm">
      <div class="col-12">
        <p-card [style]="{'background-color': '#FCFFFF'}" subheader="Grafico per categorie">
          <p-chart type="pie" [data]="dataCategoria"></p-chart>
        </p-card>
      </div>
      <hr />
    </div>
    <div class="row mt-3" *ngIf="primoForm">
      <div class="col-12">
        <p-card [style]="{'background-color': '#FCFFFF'}" subheader="Grafico per prodotti">
          <p-chart type="pie" [data]="dataProdotto"></p-chart>
        </p-card>
      </div>
    </div>
  </div>
</div>
<hr />
<p-toast [baseZIndex]="2000"></p-toast>
